# Handle line endings automatically for files detected as text
* text=auto

# These files are text and should be normalized (Convert CRLF => LF)
*.java text
*.gradle text
*.properties text
*.xml text
*.yaml text
*.yml text
*.md text
*.txt text

# These files are binary and should be left untouched
*.jar binary
*.war binary
*.ear binary
*.class binary

# Gradle wrapper
gradlew text eol=lf
gradlew.bat text eol=crlf
